@import "tailwindcss";

:root {
    --bg-color: #515151;
    --text-color: #d8ccfc;
    --text-color-darker: #c1aefc;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}

button {
    position: relative;
    cursor: pointer;
    border: solid 1px var(--text-color);
    border-radius: 0.25rem;
    width: fit-content;
    padding: 0.25rem;
    transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function) /* cubic-bezier(0.4, 0, 0.2, 1) */);
    transition-duration: var(--tw-duration, var(--default-transition-duration) /* 150ms */);
}

button:hover {
    background-color: #737373;
}

button:active {
    background-color: var(--text-color);
}

input {
    border: 1px solid var(--text-color);
    padding: 0.25rem;
}

@media (prefers-reduced-motion) {
  *,
  ::before,
  ::after {
    animation: none !important;
  }
}
